*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Readex Pro","Karla",Arial, Helvetica, sans-serif;
    
    background-color: lightskyblue;
    height: 200vh;
    
  
  }

/*   .search-bar{
    display: flex;
   
    
    justify-content: space-evenly;
    background: whitesmoke;
    margin-top: 10px;
    padding-left: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    
   
} 
 */
.searchBtn{
    min-width: 90px;
    max-height: 40px;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 10px;
}
#results{
    
    font-size: 18px;
}
 nav{
    display: flex;
    
    justify-content: space-evenly;
    background: whitesmoke;
    margin-top: 20px;
    padding-left: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
 }

.main-container{
    display: flex;
    justify-content: space-between;
}
h2 {
    padding-left: 10px;
}
 /*  form{
    display: grid;
    grid-template-columns: 50% 50%;
    color: rgb(0, 0, 0);
    padding: 20px;
    gap: 10px;
    min-width: 500px;
} */
form div{
    display: flex;
    justify-content: space-between   ;
    margin: 20px;
    
}
input{
    min-height: 30px;
    margin-left: 10px;
    padding-right: 20px;

}
 .button-container{
    display: flex;
}     


table{
    border-collapse: collapse;
    width: 100%;
    color: white;
    
    
}

td, th {
    border: 1px solid #dddddd;
    background: lightskyblue;
    text-align: left;
    padding: 30px;
  }
/*   td:nth-child(even){
    background-color: #d4d4d4;
  }
   */
  tr:nth-child(even) {
    background-color: #d4d4d4;
  }
 
  button{ 
    background: rgb(59, 109, 247);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    margin-left: 5vh;
    
    width: 50%;
}
.searchBtn{
    width: 10%;
}
.searchbar{
    width: 70%;
}