*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background: green;
    font-family: Nanum Myeongjo, sans-serif;
    overscroll-behavior: none;
}
header, main, footer {
    padding: 2rem;
}
header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    position: sticky;
    background-color: aliceblue;
    align-items: center;
    
    top: 0;
}

nav ul li {
    display: inline-block;

}

section{
    height: 45vh;
    scroll-margin-top: 150px;
}
button {
    border: none;
    border-radius: 5px;
    box-shadow: none;
    padding: 1rem 2rem;
    font-family: inherit;
    background-color: sandybrown;
    font-size: inherit;
}
#backtopBtn {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}